<% provide(:title, "NAGASAKI Eeeatsについて") %>

<div class="row">
  <div class="col-lg-12">
    <div class="align-self-start">
      <h1 class="text-light text-center page_title">NAGASAKI Eeeeetsについて</h1>
    </div>
    <div class="text-light">
      <p>NAGASAKI Eeeatsとは自分が長崎県の行った飲食店の情報を記録させるサイトです。</p>
      <p>ユーザー登録を行うとお店の登録、評価、コメントを記録させることができます。</p>
      <p>現在、ポートフォリオとしてサイト制作中の為、登録されているデータは仮想データとなります。</p>
      <p>その為、サイト制作完了までデータを削除する可能性があります。</p>
    </div>
  </div>
</div>
<%= link_to "戻る", :back, class: 'text-light' %>
