@import '~bootstrap/scss/bootstrap';


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$info: #17a2b8;
$gray: #999999; 

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

.navbar{
  background: rgba(0, 0, 0, 0.3);
}


/* 背景設定*/
body.jumbotron {
  background:url("/assets/backgrund.jpg") center no-repeat; 
  background-size: cover;
  position: relative;
  height: 100vh;
  margin-top: 32px;
  margin-bottom: 0px;
  }

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

label.custom-control-label{
  margin-bottom: 15px;
}

/* エラー時の表示設定*/
#error_explanation {
  color: red;
  ul {
    color: red;
    // margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input,select {@extend .is-invalid;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* トグルアイコン */
.navbar-toggler {
  border-color: rgb(255, 255, 255);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 4 30 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='3' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background: $gray-medium-light;
  @include box_sizing;
}


 /* === ボタンを表示するエリア ============================== */
.switchArea {
  line-height    : 32px;                /* 1行の高さ          */
  letter-spacing : 0;                   /* 文字間             */
  text-align     : center;              /* 文字位置は中央     */
  font-size      : 15px;                /* 文字サイズ         */

  position       : relative;            /* 親要素が基点       */
  // margin         : auto;                /* 中央寄せ           */
  width          : 88px;               /* ボタンの横幅       */
  background     : #fff;                /* デフォルト背景色   */
}

 /* === チェックボックス ==================================== */
.switchArea input[type="checkbox"] {
  display        : none;            /* チェックボックス非表示 */
}

 /* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
  display        : block;               /* ボックス要素に変更 */
  box-sizing     : border-box;          /* 枠線を含んだサイズ */
  height         : 32px;                /* ボタンの高さ       */
  border         : 2px solid $gray;   /* 未選択タブのの枠線 */
  border-radius  : 16px;                /* 角丸               */
}

 /* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type="checkbox"]:checked +label {
  border-color   : $info;             /* 選択タブの枠線     */
}

 /* === 表示する文字（標準） ================================ */
.switchArea label span:after{
  content        : "非公開";               /* 表示する文字       */
  padding        : 0 0 0 19px;          /* 表示する位置       */
  color          : $gray;             /* 文字色             */
}

 /* === 表示する文字（ONのとき） ============================ */
.switchArea  input[type="checkbox"]:checked + label span:after{
  content        : "公開";                /* 表示する文字       */
  padding        : 0 19px 0 0;          /* 表示する位置       */
  color          : $info;             /* 文字色             */
}

 /* === 丸部分のSTYLE（標準） =============================== */
.switchArea #swImg {
  position       : absolute;            /* 親要素からの相対位置*/
  width          : 24px;                /* 丸の横幅           */
  height         : 24px;                /* 丸の高さ           */
  background     : $gray;             /* カーソルタブの背景 */
  top            : 4px;                 /* 親要素からの位置   */
  left           : 4px;                 /* 親要素からの位置   */
  border-radius  : 12px;                /* 角丸               */
  transition     : .2s;                 /* 滑らか変化         */
}

 /* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type="checkbox"]:checked ~ #swImg {
  transform      : translateX(56px);    /* 丸も右へ移動       */
  background     : $info;             /* カーソルタブの背景 */
}