@import '~bootstrap/scss/bootstrap';

/*********
* common *
**********/
$gray-medium-light: #eaeaea;
$info: #17a2b8;
$gray: #999999;
$font-family-sans-serif: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3',
  Hiragino Kaku Gothic Pro, 'ＭＳ Ｐゴシック', sans-serif;
$headings-line-height: 1.5;
$line-height-base: 1.65;
$modal-inner-padding: 30px;
$modal-title-padding: 30px;
$max-width: 1090px;
$nav-color: rgba(0, 0, 0, 0.5);

* {
  letter-spacing: 0.1em;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*******************
* ナビゲーションバー  *
********************/

.navbar {
  background: $nav-color;
  list-style-type: none;
  overflow: hidden;
}

/**********
* 背景設定 *
***********/

body {
  //-moz-box-sizing: border-box;
  //box-sizing: border-box;
  background-size: cover;
  -moz-background-size:cover;
  background-image:url('/assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  min-height:100vh;
  width:100vw;
}

html body {
  height: 100%;
}

/*************
* typography *
**************/
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

input[type='text'],
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

label {
  white-space: nowrap;
}

input {
  height: auto !important;
}

label.custom-control-label {
  margin-bottom: 15px;
}

/**********************
* マテリアルアイコン表示 *
***********************/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  display: inline-flex;
  vertical-align: middle;
}

/**********************
* コンポーネント位置設定 *
***********************/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.rounded-center {
  margin: 0 auto;
}

.float_right {
  float: right;
}

/***********
* エラー表示 *
************/

#error_explanation {
  color: red;
  ul {
    color: red;
    // margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input,
  select {
    @extend .is-invalid;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

/***********************
* Nagasaki Eeeats logo *
***********************/

.logo {
  max-width: 220px;

  .logo_img {
    max-width: 100%;
    object-fit: scale-down;
  }
}

/*****************************************
* 公開非公開説明(login/user data change部) *
******************************************/

.release_description_box {
  padding: 0.5em 1em;
  margin: 1em 0;
  font-weight: bold;
  color: #6091d3;/*文字色*/
  background: #FFF;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
}
.release_description_box p {
  margin: 0;
  padding: 0;
}


/*********
* margin *
**********/

.ml-10 {
  margin-left: 10px;
}

.mb-0 {
  margin-bottom: 0px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}

.mt-1 {
  margin-top: 1px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}

/**********
* padding *
***********/

.pd-5 {
  padding: 5px;
}
.pd-10 {
  padding: 10px;
}
.pd-20 {
  padding: 20px;
}
.pd-0 {
  padding: 0;
}


/**********
* タイトル *
***********/

// タイトル
.title {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 10% 0 20px;
}

.page_title{
  padding: .05em 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

// 項目デザイン
.show_item{
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #446689;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}

/*****************
* 幅の広めのボタン *
******************/
.button-wide {
  width: 100%;
  max-width: 400px;
  display: block;
  margin-bottom: 10px;
}

/********************
* 支払い方法の画像表示 *
*********************/

.payment_method_small {
  width: 16%;
  height: 16%;
  margin: 2px;
}

.payment_method_normal {
  width: 28%;
  height: 28%;
  margin: 2px;
}

.payment_method_big {
  width: 33%;
  height: 33%;
}

@media screen and (max-width: 428px) {
  .payment_method_small {
    width: 20%;
    height: 20%;
    text-align: center;
    margin: 2px;
  }

  .payment_method_normal {
    width: 50%;
    height: 50%;
    text-align: center;
    margin: 2px;
  }

  .payment_method_big {
    width: 50%;
    height: 50%;
    text-align: center;
  }
}
/***************
* お店の画像表示 *
****************/

.img_square {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position:absolute;
}

.square_blank {
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}

/***************************
* スクリーンショット(about部) *
****************************/
.about_image {
  width: 60%;
  height: auto;
}

/********************
* フロー表示(about部) *
*********************/

.use-flow * {
  box-sizing: border-box;
}

.use-flow{
  min-height: 60vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.use-flow ul {
  padding: 0;
}
.use-flow li{
  list-style-type: none;
}
.use-flow dd {
  margin-left: 0;
}
.flow {
  padding-left: 120px;
  position: relative;
}
.flow::before {
  content: "";
  width: 15px;
  height: 100%;
  background: #eee;
  margin-left: -8px;
  display: block;
  position: absolute;
  top: 0;
  //left: 120px;
  left: 240px;
}
.flow > li {
  position: relative;
}
.flow > li:not(:last-child) {
  margin-bottom: 8vh;
}
.flow > li .icon {
  font-size: 12px;
  color: #fff;
  background: rgb(107,144,219);
  background: -moz-linear-gradient(left, rgba(107,144,219,1) 0%, rgba(102,213,233,1) 100%);
  background: -webkit-linear-gradient(left, rgba(107,144,219,1) 0%,rgba(102,213,233,1) 100%);
  background: linear-gradient(to right, rgba(107,144,219,1) 0%,rgba(102,213,233,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 );
  padding: 8px 20px;
  display: block;
  position: absolute;
  top: 0;
  //left: -120px;
  left: 0px;
  z-index: 100;
}
.flow > li .icon::after {
  content: "";
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #66d5e9;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.flow > li dl {
  //padding-left: 70px;
  padding-left: 190px;
  position: relative;
}
.flow > li dl::before,
.flow > li dl::after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
}
.flow > li dl::before {
  width: 7px;
  height: 7px;
  margin-top: -3px;
  background: #6b90db;
  border-radius: 50%;
  //left: -4px;
  left: 116px;
}
.flow > li dl::after {
  width: 50px;
  border-bottom: 1px dashed #999;
  position: absolute;
  //left: 5px;
  left: 125px;
}
.flow > li dl dt {
  font-size: 20px;
  font-weight: 600;
  color: rgb(107,144,219);
  margin-bottom: 1vh;
}

/********************
* QRコード(about部) *
*********************/

.QR_Code{
  width: 25%;
  height: auto;
}
@media screen and (max-width: 428px) {
  .QR_Code{
    width: 40%;
    height: auto;
  }
}

/********************
* logoサイズ(about部) *
*********************/
.service_img {
  height: 60px;
  max-width: 100%;
}

.bg-light::after {
  position: absolute;
  top: .5em;
  left: 1.4em;
  content: '';
  width: 6px;
  height: -webkit-calc(100% - 1em);
  height: calc(100% - 1em);
  background-color: #7db4e6;
  border-radius: 4px;
}

/*************************
* お店一覧アンカータグ非表示 *
**************************/
.no-decoration:hover {
  text-decoration: none;
}

/**********************************
* トグルアイコン(ハンバーガーメニュー) *
***********************************/
.navbar-toggler {
  border-color: rgb(255, 255, 255);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 4 30 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='3' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*************
* 評価点数表示 *
**************/

.range {
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center; /*上下中央揃え*/
}

.individual_score {
  font-size: x-large;
}

/****************
* rangeスライダー *
*****************/

input[type='range'] {
  -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
  appearance: none;
  cursor: pointer; /* カーソルを分かりやすく */
  outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
  height: 20px; /* バーの高さ */
  width: 75%; /* バーの幅 */
  background: #8acdff; /* バーの背景色 */
  border-radius: 10px; /* バーの両端の丸み */
  border: solid 2px #dff1ff; /* バー周囲の線 */
  margin: auto;
  // position: relative;
  // top: 50%;
  // -webkit-transform: translateY(-50%); /* Safari用 */
  // transform: translateY(-50%);
}
/* WebKit向けのつまみ */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /*  🚩デフォルトのつまみのスタイルを解除 */
  background: #53aeff; /* 背景色 */
  width: 20px; /* 幅 */
  height: 20px; /* 高さ */
  border-radius: 50%; /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
}

/* Moz向けのつまみ */
input[type='range']::-moz-range-thumb {
  background: #53aeff; /* 背景色 */
  width: 20px; /* 幅 */
  height: 20px; /* 高さ */
  border-radius: 50%; /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
  border: none; /* デフォルトの線を消す */
}
」
/* Firefoxで点線が周りに表示されてしまう問題の解消 */
input[type='range']::-moz-focus-outer {
  border: 0;
}

/* つまみをドラッグしているときのスタイル */
input[type='range']:active::-webkit-slider-thumb {
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}

/*************
* マップ表示  *
**************/

.sticky {
  position: -webkit-sticky;
  //position: -moz-sticky;
  //position: -ms-sticky;
  //position: -o-sticky;
  position: sticky;
  //top: $header-size;
  top: 60px;
  // bottom: 80vh;
}

#target {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
}

#map_canvas {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
}

.gmap {
  height: 75vh;
}

.gmap-index {
  height: 75vh;
}

.gmap-target {
  position: relative;
  z-index: 1;
}

.gps_fixed {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
  box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.3);
}

/****************
* マップ経路表示  *
*****************/

// 歩き
.stick-work {
  width: 50px;
  height: 5px;
  padding: 0;
  margin: 0;
  background: #00ff7f;
  opacity: 0.6;
}

// 車
.stick-drive {
  width: 50px;
  height: 5px;
  padding: 0;
  margin: 0;
  background: #73b9ff;
  opacity: 0.8;
}

/*********************************
* お気に入り、イマイチアニメーション  *
**********************************/

// お気に入り表示
.likes {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
}

.likes [type='checkbox'] {
  display: none;
}

.material-icons.good {
  font-size: 42px;
  color: #e4e4e4;
  user-select: none;
}

.material-icons.good.color-on {
  font-size: 42px;
  color: #ffff3c;
  user-select: none;
}

.likes [type='checkbox']:checked ~ .good {
  animation-name: good;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes good {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    color: #ffff3c;
  }
}

.like_ripple {
  position: absolute;
  width: 85px;
  height: 85px;
  background: #ffff3c;
  border-radius: 50%;
  transform: scale(0);
}

.likes [type='checkbox']:checked ~ .like_ripple {
  animation-name: like_ripple;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes like_ripple {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

// イマイチ表示
.dislikes {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
}

.dislikes [type='checkbox'] {
  display: none;
}

.material-icons.bad {
  font-size: 42px;
  color: #e4e4e4;
  user-select: none;
  .color-on {
    color: #ff443c;
  }
}

.material-icons.bad.color-on {
  font-size: 42px;
  color: #ff443c;
  user-select: none;
}

.dislikes [type='checkbox']:checked ~ .bad {
  animation-name: bad;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes bad {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    color: #ff443c;
  }
}

.dislike_ripple {
  position: absolute;
  width: 85px;
  height: 85px;
  background: #ff443c;
  border-radius: 50%;
  transform: scale(0);
}

.dislikes [type='checkbox']:checked ~ .dislike_ripple {
  animation-name: dislike_ripple;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes dislike_ripple {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/***********
* display  *
************/

.flexContainer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
}

.flexContainer>p {
  margin: 0;
}

.display-none {
  display: none;
}

/******************
* ページネーション  *
*******************/

.pagination {
  justify-content: center;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
 }

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: $info !important;     /*背景の色を変える*/
 }

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  color: white;   /*文字の色を変える*/
  background: $info;     /*背景の色を変える*/
 }

/***************
*  デバッグ表示  *
****************/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background: $gray-medium-light;
  @include box_sizing;
}

/*******************************
*  スイッチ(チェックボックス)表示  *
********************************/

/* === ボタンを表示するエリア ============================== */
.switchArea,
.switchArea-closed,
.switchArea-pay-method{
  line-height: 32px; /* 1行の高さ          */
  letter-spacing: 0; /* 文字間             */
  text-align: center; /* 文字位置は中央     */
  font-size: 15px; /* 文字サイズ         */

  position: relative; /* 親要素が基点       */
  // margin         : auto;                /* 中央寄せ           */
  width: 88px; /* ボタンの横幅       */
  background: #fff; /* デフォルト背景色   */
  cursor: pointer;
}

/* === チェックボックス ==================================== */
.switchArea input[type='checkbox'],
.switchArea-closed input[type='checkbox'],
.switchArea-pay-method input[type='checkbox']{
  display: none; /* チェックボックス非表示 */
  cursor: pointer;
}

/* === チェックボックスのラベル（標準） ==================== */
.switchArea label,
.switchArea-closed label,
.switchArea-pay-method label{
  display: block; /* ボックス要素に変更 */
  box-sizing: border-box; /* 枠線を含んだサイズ */
  height: 32px; /* ボタンの高さ       */

  border-radius: 16px; /* 角丸               */
}
.switchArea label {
  border: 2px solid $gray; /* 未選択タブのの枠線 */
}

.switchArea-closed label {
  border: 2px solid $info; /* 未選択タブのの枠線 */
}

.switchArea-pay-method label {
  border: 2px solid $gray; /* 未選択タブのの枠線 */
}


/* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type='checkbox']:checked + label {
  border-color: $info; /* 選択タブの枠線     */
}

.switchArea-closed input[type='checkbox']:checked + label {
  border-color: $gray; /* 選択タブの枠線     */
}

.switchArea-pay-method input[type='checkbox']:checked + label {
  border-color: $info; /* 選択タブの枠線     */
}

/* === 表示する文字（標準） ================================ */
.switchArea label span:after {
  content: '非公開'; /* 表示する文字       */
  padding: 0 0 0 19px; /* 表示する位置       */
  color: $gray; /* 文字色             */
}

.switchArea-closed label span:after {
  content: '営業中'; /* 表示する文字       */
  padding: 0 0 0 19px; /* 表示する位置       */
  color: $info; /* 文字色             */
}

.switchArea-pay-method label span:after {
  content: '未対応'; /* 表示する文字       */
  padding: 0 0 0 19px; /* 表示する位置       */
  color: $gray; /* 文字色             */
}

/* === 表示する文字（ONのとき） ============================ */
.switchArea input[type='checkbox']:checked + label span:after {
  content: '公開'; /* 表示する文字       */
  padding: 0 19px 0 0; /* 表示する位置       */
  color: $info; /* 文字色             */
}

.switchArea-closed input[type='checkbox']:checked + label span:after {
  content: '閉店'; /* 表示する文字       */
  padding: 0 19px 0 0; /* 表示する位置       */
  color: $gray; /* 文字色             */
}

.switchArea-pay-method input[type='checkbox']:checked + label span:after {
  content: '対応可'; /* 表示する文字       */
  padding: 0 19px 0 0; /* 表示する位置       */
  color: $info; /* 文字色             */
}

/* === 丸部分のSTYLE（標準） =============================== */
.switchArea #swImg,
.switchArea-closed #swImg,
.switchArea-pay-method .switch_image{
  position: absolute; /* 親要素からの相対位置*/
  width: 24px; /* 丸の横幅           */
  height: 24px; /* 丸の高さ           */

  top: 4px; /* 親要素からの位置   */
  left: 4px; /* 親要素からの位置   */
  border-radius: 12px; /* 角丸               */
  transition: 0.2s; /* 滑らか変化         */
}

.switchArea #swImg {
  background: $gray; /* カーソルタブの背景 */
}

.switchArea-closed #swImg {
  background: $info; /* カーソルタブの背景 */
}

.switchArea-pay-method .switch_image {
  background: $gray; /* カーソルタブの背景 */
}

/* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type='checkbox']:checked ~ #swImg {
  transform: translateX(56px); /* 丸も右へ移動       */
  background: $info; /* カーソルタブの背景 */
}
.switchArea-closed input[type='checkbox']:checked ~ #swImg {
  transform: translateX(56px); /* 丸も右へ移動       */
  background: $gray; /* カーソルタブの背景 */
}

.switchArea-pay-method input[type='checkbox']:checked ~ .switch_image {
  transform: translateX(56px); /* 丸も右へ移動       */
  background: $info; /* カーソルタブの背景 */
}


@-moz-keyframes pulsate {
  from {
    -moz-transform: scale(0.25);
    opacity: 1.0;
  }
  95% {
    -moz-transform: scale(1.3);
    opacity: 0;
  }
  to {
    -moz-transform: scale(0.3);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  from {
    -webkit-transform: scale(0.25);
    opacity: 1.0;
  }
  95% {
    -webkit-transform: scale(1.3);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

/*********************
* 現在地のアイコン表示  *
**********************/

#map_canvas div[title="現在地"] {
  -moz-animation: pulsate 1.5s ease-in-out infinite;
  -webkit-animation: pulsate 1.5s ease-in-out infinite;
  border:1pt solid #fff;
  /* make a circle */
  -moz-border-radius:51px;
  -webkit-border-radius:51px;
  border-radius:51px;
  /* multiply the shadows, inside and outside the circle */
  -moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
  -webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
  box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
  /* set the ring's new dimension and re-center it */
  height:51px!important;
  margin:-18px 0 0 -17px;
  width:51px!important;
}

#map_canvas div[title="現在地"] img {
  display:none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
  #map_canvas div[title="現在地"] {
    margin:-10px 0 0 -10px;
  }
}

