<p><%= @resource.name %>様</p>

<p>下記のリンクからアクセスしパスワードを変更をお願いいたします。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>メールに心当たりがない場合は、破棄していただきますようお願いいたします。</p>
<p>上記のリンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません。</p>
